# Render (gateway olmadan)
EXPO_PUBLIC_AUTH_URL=https://certifyapp-auth.onrender.com
EXPO_PUBLIC_USER_URL=https://certifyapp-user.onrender.com

# Lokal (gateway ilə)
# EXPO_PUBLIC_AUTH_URL=http://192.168.1.101:8090
# EXPO_PUBLIC_USER_URL=http://192.168.1.101:8090

# Lokal (birbaşa servislər)
# EXPO_PUBLIC_AUTH_URL=http://192.168.1.101:8087
# EXPO_PUBLIC_USER_URL=http://192.168.1.101:8082
